<footer class="footer bg-primary">
    <p class="footer-title">Copyrights @ <span>Omar KHELIFI</span></p>
    <div class="social-icons">
        <a href="https://github.com/OmarKhelifi"> <fa-icon [icon]="git"></fa-icon> </a>
        <a href="https://www.linkedin.com/in/omar-khelifi-b18523251"> <fa-icon [icon]="linkedin"></fa-icon> </a>
        <a href="https://www.facebook.com/okhelifi1998?mibextid=ZbWKwL"> <fa-icon [icon]="facebook"></fa-icon> </a>
        <a href="https://wa.me/qr/2ZLZX74DX2XKB1"> <fa-icon [icon]="whatsapp"></fa-icon> </a>
    </div>
</footer>

