.footer{
    color: white;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}
.footer .social-icons a{
    font-size: 1.3em;
    padding-left: 20px;
    color:white;
}